@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBBBBB;
    padding: 8px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

}

.cabecalho__menu i::before {
    content: "☰";
    font-size: 24px;
}

.cabecalho__logo {
    width: 100px;
}

.cabecalho-menu-item {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        background: #BBBBBB;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 16px 100px;
        grid-column: 2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }

    .cabecalho__menu {
        display: none;
    }


    .cabecalho-menu-item {
        display: flex;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        text-decoration: none;
    }
}



/* Seção do Menu lateral */

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #F3F1F5;
    width: 60vw;
    height: 100vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}


.menu-lateral__link {
    height: 64px;
    color: #000000;
    margin-top: 20px;
    padding-left: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link--home::before, .menu-lateral__link--produtos::before, .menu-lateral__link--contato::before {
    content: ">";
    font-size: 24px;
    padding: 10px;
}

@media screen and (min-width: 1440px) {
    .menu-lateral {
        display: none;
    }
}